<a href="#" class="ks">
    <div class="inner">
        Help us reach our goal on Kickstarter! <img src="/assets/img/ks.png" alt="Kickstarter">
    </div>
</a>
<header>
    <div class="grid">
        <div class="rel">
            <div class="combo">
                <a href="/" class="logo"></a>
                <span class="beta-pill">Alpha</span>
            </div>
            <div class="mobile-m"></div>
            <nav>
                <a href="/about">About</a>
                <a href="mailto:hellolucy.co@gmail.com">Contact Us</a>
                <a class="cta" href="/subscribe">Subscribe to updates</a>
            </nav>
        </div>
    </div>
</header>
