<header>
    <div class="grid">
        <a href="/" class="logo"></a>
        <nav>
            <a href="/about">About</a>
            <a class="cta" href="/subscribe">Subscribe to updates</a>
        </nav>
    </div>
</header>
