$c_p-dark: #473C54;
$c_p-gray: #9F92AF;
$c_p-light: #F8F5FB;
$c_p-mid: #DCD4E8;
$c_p: #8C4BE3;
$c_yellow: #FFFDDE;
$c_green: #79E6BF;
$c_blue: #A7D7FF;
$c_p-water: #D5B5FF;
$c_b-dark: #2C364C;
$c_white: #ffffff;
