@media handheld, only screen and (max-width: 1039px){
    .masthead{
        position: relative;
        .phone{
            float: none;
            display: none;
        }
        .content{
            width: 100%;
            float: none;
            margin: 0px auto;
            padding: 0px;
            h1{text-align: center;}
            h2{text-align: center;margin: auto;}
            a.main-cta{margin: auto;}
        }
    }
    .group{
        .ill{
            float: none;
        }
        .content{
            float: none;
            h1{text-align: center;margin: auto;}
            p{text-align: center;margin: auto;}
        }
    }
    #dnaData{
        .ill{
            margin: 0px auto;
            float: none;
            background: url('../img/ill-helix.png');
            width: 200px;
            height: 81px;
            background-size: 200px 81px;
        }
    }
    #vetConnection{
        .content{float: none;margin: 0px;}
        .ill{
            margin: 0px auto 20px auto;
            background: url('../img/ill-docs.png');
            width: 200px;
            height: 155px;
            background-size: 200px 155px;
        }
    }
    #iotConnection{
        .content{margin: 0px 0px 0px 0px;}
        .ill{
            float: none;
            margin: 0px auto;
            background: url('../img/ill-connect.png');
            width: 200px;
            height: 200px;
            background-size: 200px 200px;
        }
    }
}
@media handheld, only screen and (max-width: 790px){
    section.subscribe{.content{h1{font-size: 65px;}}}
    section.about{.content{h1{font-size: 65px;}}}
    section.subscribe,
    section.about,
    .masthead{
        position: relative;
        z-index: 98;
        .content{h1{font-size: 65px;}}
    }
    .final{h1{font-size: 65px;}}
    .mobile-m{
        display: block;
        right: 30px;
        top: 22px;
        z-index: 101;
    }
    .rel{padding: 0px 30px;}
    header{
        padding: 0px;
        background-color: $c_p-light;
        border-bottom: 1px solid $c_p-mid;
        a.logo{
            margin: 10px auto;
            float: none;
        }
        nav{
            display: none;
            float: none;
            margin: 0px;
            border-top: 1px solid $c_p-mid;
            position: fixed;
            z-index: 100;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            width: 100%;
            background-color: rgba(0,0,0,0.9);
            a{
                max-width: 70%;
                padding: 20px;
                display: block;
                margin: 0px;
                color: $c_white;
                font-size: 30px;
                font-weight: 200;
            }
            a.cta{
                background-color: transparent;
                @include border-radius(0px);
                color: $c_white;
                display: block;
                border: 0px;
                padding: 20px;
                &:hover{
                    color: $c_p;
                    background-color: transparent;
                }
            }
        }
    }
    footer{
        padding: 10px;
        background-color: $c_p-light;
        border-top: 1px solid $c_p-mid;
        .img-w{
            width: 80px;
            margin: 0px auto;
        }
        div.footer-logo{
            display: block;
            background: url('../img/logo.png');
            width: 80px;
            height: 41px;
            background-size: 80px 41px;
            margin: 0px auto 10px auto;
            float: none;
        }
        p{
            margin: 0px 0px 0px 0px;
            text-align: center;
        }
        a{
            display: block;
            float: none;
            text-align: center;
            padding: 0px;
            margin: 10px 0px 0px 0px;
        }
        [class*='col-']:last-of-type{padding: 0px;margin:0px;}
    }
    .grid{
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    [class*='col-']{
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media handheld, only screen and (max-width: 550px){
    .ks{font-size: 12px;.inner{img{top: -5px;}}}
    header{nav{a{font-size: 25px;padding: 15px;}a.cta{font-size: 25px;padding: 15px;}}}
    .group{.content{h1{font-size: 50px;}}}
    section.subscribe{padding: 75px 20px;.content{h1{font-size: 50px;}}}
    section.about{padding: 75px 20px;.content{h1{font-size: 50px;}}}
    .masthead{padding: 75px 20px;.content{h1{font-size: 50px;}}}
    .final{padding: 75px 20px;h1{font-size: 50px;}}
}
@media handheld, only screen and (max-width: 350px){
    .ks{font-size: 12px;.inner{img{display: none;}}}
}
