---
title: About
---
<section class="about">
    <div class="content">
        <h1>About Lucy</h1>
        <p>We're a small dedicated group of animal lovers living and working from Portland, OR. We're focused on building technology for improving the lives and care of animals. As pet owners we weren't content with subpar DNA testing kits so we set out to build a better one.</p>
        <p>We think Portland is a great market for building a PetTech company. If you're in town and want to connect we'd love to chat with you. Please feel free to reach out to us <a href="mailto:hellolucy.co@gmail.com">via email</a>.</p>
    </div>
</section>
