---
title: Home
---
<section class="masthead">
    <div class="grid">
        <div class="phone"></div>
        <div class="content">
            <h1>Get to know your best friend…</h1>
            <h2>Lucy is the next generation of dog DNA test kits. With Lucy, pet owners can provide an entirely new level of care to their furry friends; all with the help of a companion app that gets to know your dog on a biological level.</h2>
            <a href="/subscribe" class="main-cta">Subscribe</a>
        </div>
    </div>
</section>
<div class="hr"></div>
<article class="group" id="dnaData">
    <div class="grid">
        <div class="content">
            <h1>DNA Data</h1>
            <p>The Lucy DNA test kit was developed from the ground up and entirely focused on providing the most relevant data to help you improve quality of life for your pet.</p>
        </div>
        <div class="ill"></div>
    </div>
</article>
<div class="hr"></div>
<article class="group" id="vetConnection">
    <div class="grid">
        <div class="ill"></div>
        <div class="content">
            <h1>Analytics &amp; Reports</h1>
            <p>More than just pretty pictures. The Lucy mobile companion application gives you an in depth view into your pets biological data by providing charts and graphs.</p>
        </div>
    </div>
</article>
<div class="hr"></div>
<article class="group" id="iotConnection">
    <div class="grid">
        <div class="content">
            <h1>Dynamic Care</h1>
            <p>Standard DNA test kits give you a static snapshot of your pet’s biological data. Lucy has the ability to marry DNA and daily activity data into a single ongoing plan of care for your dog.</p>
        </div>
        <div class="ill"></div>
    </div>
</article>
<section class="final">
    <div class="grid">
        <h1>Why?</h1>
        <p>Pets are just as unique as their human counterparts. Understanding who you are and how your body works is vitally important to improving your lifestyle, decreasing your chances of illness, and thriving throughout adulthood.</p>
        <p>This is also true of pets. Getting to know your pet, their likes and dislikes takes a lot of work. Often times we rely on veterinary professionals to give us the guidance that we need. However they can’t always be there every step of the way.  At some level we need to have a better understanding of our pets so we can be the best caretakers possible. We want to give our animals a happy and healthy lifestyle. Lucy is how we get there, and we're excited to have you join us.</p>
        <a href="/subscribe" class="cta">Subscribe to updates</a>
    </div>
</section>
