---
title: Subscribe
---
<section class="subscribe">
    <div class="content">
        <h1>Subscribe to updates</h1>
        <h2>We're so excited to show you what we're working on! We won't be ready to show you Lucy for a little while. Don't worry though, we'll keep you updated along the way. Just as a heads up&hellip;we hate spam just as much as you do, so only expect 1-2 emails per month.</h2>
    </div>
    <form action="http://lucy5.createsend.com/t/d/s/urjuc/" method="post" id="subForm">
        <div class="form-group">
            <input id="fieldName" name="cm-name" type="text" placeholder="Your Name">
        </div>
        <div class="form-group">
            <input id="fieldEmail" name="cm-urjuc-urjuc" type="email" required placeholder="Your Email">
        </div>
        <div class="form-group">
            <button type="submit">Submit to subscribe</button>
        </div>
    </form>
</section>
