section.about{
    @extend .cf;
    background: url('../img/about.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 20px 100px 20px;
    .content{
        position: relative;
        z-index: 99;
        max-width: 1035px;
        margin: auto;
        h1{
            padding: 0px 0px 30px 0px;
            font-size: 120px;
            color: $c_white;
            font-weight: 200;
            text-align: center;
        }
        p{
            font-size: 18px;
            color: $c_white;
            padding: 0px 0px 30px 0px;
            max-width: 470px;
            margin: auto;
            line-height: 1.7;
            &:last-of-type{padding: 0px;}
            a{
                text-decoration: none;
                color: $c_p-gray;
            }
        }
    }
}
