footer{
    padding: 50px 20px;
    .img-w{
        width: 80px;
        margin: 0px auto;
    }
    div.footer-logo{
        display: block;
        background: url('../img/logo.png');
        width: 80px;
        height: 41px;
        background-size: 80px 41px;
        float: left;
        opacity: 0.2;
    }
    p{
        color: $c_p-gray;
        font-size: 16px;
        margin: 10px 0px 0px 0px;
    }
    a{
        display: inline-block;
        color: $c_p-gray;
        text-decoration: none;
        font-size: 16px;
        float: right;
        margin: 10px 0px 0px 0px;
        @include easing(350ms);
        &:hover{
            @include easing(350ms);
            color: $c_p;
        }
    }
}
